<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yue_xiang_gou.mapper.WxUserInfoMapper">

    <resultMap id="wxUserInfoResult" type="com.yue_xiang_gou.entity.WxUserInfo"></resultMap>

    <select id="findByOpenId" parameterType="String" resultMap="wxUserInfoResult">
        select * from t_wxuserinfo where openid=#{openid}
    </select>
</mapper>